.window-app.monarch {
	background-image: none;
	box-shadow: none;
	margin: 0;
	background-color: transparent;

	.window-content {
		background: none;
		color: white;
		padding: 0;
	}
}

.monarch {
	button, select, textarea,
	input[type="text"],
	input[type="number"],
	input[type="password"],
	input[type="date"],
	input[type="time"] {
		color: white;
		padding: 2px;
		height: unset;
		border: none;
		border-radius: unset;

		box-shadow: none;

		&:focus {
			border-radius: 4px;
			outline: 1px solid rgba(255, 255, 255, 0.1);
		}
	}

	input[type="text"],
	input[type="number"],
	input[type="password"],
	input[type="date"],
	input[type="time"] {
		line-height: 1em;
		border-bottom: 1px dashed white;
	}

	.card-control {
		&[disabled] {
			color: rgba(255, 255, 255, 0.5);

			&:hover {
				color: rgba(255, 255, 255, 0.5);
				text-shadow: none;
			}
		}
	}

	.card-hud {
		display: grid;
		grid-template-rows: minmax(0, max-content) 1.5em 1.5em 1.5em 1fr 1.5em;
		grid-template-columns: 1fr 1fr;

		grid-template-areas:
			"info0 info0"
			"info1 info2"
			"info3 info4"
			"info5 info6"
			"body body"
			"control1 control2";

		place-items: stretch;

		gap: .5em;

		transition: opacity .2s;

		.card-value { grid-area: info2; }
		.card-suit { grid-area: info1; }
		.card-type { grid-area: info3; }
		.card-faces {
			grid-area: control2;
			gap: .5ch;
		}
		.card-controls {
			grid-area: control1;
			gap: 1ch;
		}

		> * {
			pointer-events: all;
			background: url(/ui/denim075.png) repeat;
			padding: .5em;
			border-radius: 4px;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}
}