.application.monarch {
	box-shadow: none;
	margin: 0;
	background: black;
	border: none;
	--backdrop-blur: 0px;
	
	&.trans {
		background-color: transparent;
		background-image: none;
	}

	.window-content {
		background: none;
		color: white;
		padding: 0;
		backdrop-filter: none;

		&::before {
			display: block;
			position: absolute;
			content: "";
			inset: 0;
			z-index: -1;
			backdrop-filter: blur(var(--backdrop-blur));
			-webkit-backdrop-filter: blur(var(--backdrop-blur));
			transition: backdrop-filter .5s, -webkit-backdrop-filter .5s;
		}
	}
}

.monarch {
	button, select, textarea,
	input[type="text"],
	input[type="number"],
	input[type="password"],
	input[type="date"],
	input[type="time"] {
		color: white;
		background: none;
		padding: 2px;
		height: unset;
		border: none;
		border-radius: unset;

		box-shadow: none;

		&:focus {
			border-radius: 4px;
			outline: 1px solid rgba(255, 255, 255, 0.1);
		}
	}

	input[type="text"],
	input[type="number"],
	input[type="password"],
	input[type="date"],
	input[type="time"] {
		line-height: 1em;
		border-bottom: 1px dashed white;
	}

	button {
		cursor: pointer;
	}

	&.cards-config ol.cards > li:first-of-type {
		margin-top: 0;
	}

	.card-control {
		padding: .3em .25em .2em .25em;

		&:first-child {
			padding-left: .5em;
		}
		&:last-child {
			padding-right: .5em;
		}

		&[data-disabled] {
			opacity: .5;
			cursor: default;
		}
	}

	.card-hud {
		display: grid;
		grid-template-rows: 0px auto auto;
		grid-template-columns: 1fr;

		grid-template-areas:
			"markers"
			"badges"
			"controls";

		place-self: stretch;
		place-items: stretch;

		gap: .5em;

		transition: opacity .2s;

		pointer-events: none;

		.markers {
			font-size: .8em;
			margin: -.25em;
			display: flex;
			gap: .75ch;
			justify-content: start;
		}
		.badges, .controls {
			display: flex;
			gap: .5em;
			justify-content: space-between;
		}
		.badges {
			grid-area: badges;
			flex-direction: row;
			align-content: start;
			flex-wrap: wrap;
		}
		.controls {
			grid-area: controls;
			flex-direction: row-reverse;
			align-content: end;
			flex-wrap: wrap-reverse;

			--icon-color: #FFFFFF;

			a i {
				color: var(--icon-color);
			}
		}

		--marker-color: #FFFFFF;

		.marker {
			display: flex;
			color: var(--marker-color);
			text-shadow: 0 1px 2px black, 0 0 4px black;
			pointer-events: auto;
		}

		.badge, .card-controls {
			height: 1.5em;
			pointer-events: all;
			background: url(/ui/denim075.png) repeat;
			border-radius: 4px;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			pointer-events: auto;
		}
		.badge {
			padding: .5em;
		}
		
		.card-faces {
			$pad: .1em;

			.next-face {
				padding-left: $pad;
			}
			.prev-face {
				padding-right: $pad;
			}
		}
	}

	.context-menu {
		position: fixed;
		z-index: 10;
		display: none;

		border-radius: .3em;
		background: url(/ui/denim075.png) repeat;
		padding: .3em;
		margin: -.3em 0 0 -.3em;

		flex-direction: column;
		list-style: none;
		
		ul {
			padding: 0;
			margin: 0;
		}

		--icon-color: #FFFFFF;

		a i {
			color: var(--icon-color);
		}

		.menu-group {
			flex-direction: row;
		}
	}
	.card.show-ctx, .window-content.show-ctx {
		.context-menu {
			display: flex;
		}
	}
}