.window-app.monarch-hand {
	&.trans .window-resizable-handle {
		opacity: 0;
		transition: opacity .5s;
	}
	.window-header {
		background: url(/ui/denim075.png) repeat;
		border: none;
		border-radius: 8px;
		box-shadow: 0 0 8px black;
	}
}

.window-app.monarch-hand:not(.minimized) {
	flex-direction: row;
	align-items: start;
	padding: 6px;
	transition: background-color .5s, box-shadow .5s;
	border-radius: 6px;
	
	&.trans .window-header {
		opacity: 0;
	}
	
	&.no-fade, &:hover {
		&.trans {
			background-color: rgba(0, 0, 0, 0.2);
		}
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

		.window-header { opacity: 1; }
		.window-resizable-handle { opacity: 1; }
	}
	
	.window-header {
		order: 2;
		margin-top: 10px;
		place-items: center;
		place-content: center;
		padding-left: 1.4ch;
		flex-direction: column;
		padding-top: .75em;
		
		transition: opacity .5s;

		.window-title {
			display: none;
			font-size: 0;
			visibility: hidden;
			flex-basis: 0;
			height: 0;
		}

		.header-button {
			font-size: 0px;
			margin: 0;
			
			i { font-size: var(--font-size-14);}

			&.drag {
				cursor: move;
				order: -1;
				color: rgba(255, 255, 255, 0.5);

				&:hover { text-shadow: none; }
			}
		}
	}
}

.monarch-hand {
	// These are just sane defaults, but will be overridden by
	// the particular card.
	--card-height: 200px;
	--card-width: calc(var(--card-height) * .66);
	
	.cards {
		display: flex;
		flex-direction: row;
		overflow: hidden;
		padding: 10px 14px 10px 10px;
		margin: 0;
		height: calc(var(--card-height) + 20px);
	}

	.card-wrapper {
		position: relative;
		display: flex;
		flex-grow: 1;
		flex-shrink: 1;
		overflow: hidden;
		flex-basis: 0;
		max-width: var(--card-width);
		height: var(--card-height);
		transition: flex-basis .3s ease-in-out 0.1s, box-shadow .3s;
		box-shadow: -2px 0 6px rgba(0, 0, 0, 0.6);
		border-radius: 4px 0 0 4px;
		margin-right: -4px;

		&:hover, &:last-child {
			flex-basis: var(--card-width);
			border-radius: 4px;
		}
		&.drag-over {
			flex-basis: calc(var(--card-width) / 1.5);
			border-radius: 4px;
		}
		&:hover {
			z-index: 1;
			box-shadow: 
				0 0 10px var(--color-shadow-highlight),
				0 0 4px var(--color-shadow-primary);

			.tooltip { opacity: 1; }
			.card-hud {
				.badges, .controls {
					opacity: 1;
				}
			}
		}
	}

	.card {
		background-color: rgba(0, 0, 0, 0.7); /* temporary until the fix the card images */
		position: relative;
		padding: 8px;
		background-image: var(--card-image);
		background-size: cover;
		background-repeat: no-repeat;
		height: var(--card-height);
		min-width: var(--card-width);
		cursor: pointer;

		.tooltip-wrapper {
			position: fixed;
			margin: 0;
			margin-left: -8px;
		}
	}

	.tooltip {
		background: url(/ui/denim075.png) repeat;
		position: absolute;
		width: var(--card-width);
		padding: 4px;
		height: 1.75em;
		bottom: 1em;
		border-radius: 4px;
		box-shadow: 0 0 6px black;
		opacity: 0;
		transition: opacity .2s;
		display: flex;
		place-content: center;

		h4 {
			margin: 0;
			text-align: center;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	.card-hud {
		width: 100%;
		height: 100%;

		.badges, .controls {
			transition: opacity .2s;
			opacity: 0;
		}
	}

	footer.sheet-footer {
		background: url(/ui/denim075.png) repeat;
		padding: .5em;
		margin: 0 8px;
		border-radius: 8px;
		box-shadow: 0 0 8px black;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		gap: 4px;
		line-height: unset;
	}
}