.monarch-settings {
	.standard-form {
		overflow: hidden;
	}
	h1, h2 {
		flex-grow: 0;
	}
	.content {
		overflow-y: auto;
		flex-grow: 1;
	}
	.settings-list {
		//max-height: calc(100vh - 150px);
		padding-right: 0.5em;
	}
	.form-fields {
		gap: 1ch;

		.labeled {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-grow: 0;
		}
		label {
			line-height: 1em;
		}
		&.enables {
			flex-wrap: wrap;

			:first-child {
				flex-basis: 100%;
			}
			> * {
				flex-grow: 1;
			}
		}
	}
}