<section class="card-hud">
	<section class="markers">
		{{#each card.markers as |marker|}}
			{{> "modules/monarch/templates/parts/card-marker.hbs" marker=marker card=card}}
		{{/each}}
	</section>
	<section class="badges">
		{{#each card.badges as |badge|}}
			{{> "modules/monarch/templates/parts/card-badge.hbs" badge=badge card=card}}
		{{/each}}
	</section>
	<section class="controls">
		{{#each card.controls as |control|}}
			{{#unless control.hide}}
				{{> "modules/monarch/templates/parts/control-block.hbs" control=control card=card}}
			{{/unless}}
		{{/each}}
	</section>
</section>