<ul class="context-menu">
	{{#each card.contextMenu as |control|}}
		{{#if control.controls.length}}
			<ul class="menu-group">
				{{#each control.controls as |control|}}
					{{> "modules/monarch/templates/parts/card-control.hbs" control=control card=card}}
				{{/each}}
			</ul>
		{{else}}
			{{#unless control.hide}}
				<li>{{> "modules/monarch/templates/parts/card-control.hbs" control=control card=card showLabel=true}}</li>
			{{/unless}}
		{{/if}}
	{{/each}}
</ul>